<script>
  const languageNames = new Intl.DisplayNames(['en'], { type: 'language' });
  var greetings,w,style;
  window.addEventListener('load', load);
  ['touchstart', 'mousedown', 'keydown'].forEach(function(e) {
    window.addEventListener(e, greet);
  });

  function load() {
    greetings=document.querySelectorAll(".home p");
    greetings.forEach(node => { node.remove(); });
    w=document.querySelector(".wrapper"),
    style = w.style;
  }

  function greet(e) {
    node=greetings[Math.floor(Math.random() * greetings.length)];
    document.querySelector(".home h1").textContent=node.textContent;
    if(node.lang) {
      label = document.querySelector("#language");
      label.textContent="This is hello in " + languageNames.of(node.lang) + ".";
      label.style="visibility: visible;";
    } else {
      document.querySelector("#language").style="visibility: hidden;";
    }
    style.animation = "";
    style.webkitAnimation = "";
    void w.offsetParent;
    style.animation = "flash .3s ease";
    style.webkitAnimation = "flash .3s ease";
  }
</script>
