<script>
  const languageNamesInEnglish = new Intl.DisplayNames(['en'], { type: 'language' });

  let greetings, last, w, style;
  window.addEventListener('load', load);
  ['touchstart', 'mousedown', 'keydown'].forEach(function(e) {
    window.addEventListener(e, greet);
  });

  function load() {
    greetings=document.querySelectorAll(".home ul li p");
    greetings.forEach(node => { node.remove(); });
    w=document.querySelector(".wrapper"),
      style = w.style;
  }

  function getRandomNode() {
    let num = Math.floor(Math.random() * greetings.length);
    let node=greetings[num];
    if(node === last) {
      return getRandomNode();
    }
    last=node;
    return node;
  }

  function updateGreeting(greeting, language) {
    let home=document.querySelector(".home");
    let greetingElement=document.querySelector(".home #greeting");
    let greetingDescription=document.querySelector("#language");
    greetingElement.textContent=greeting;

    if(language) {
      greetingElement.lang=language;
      greetingDescription.textContent="This is hello in " + languageNamesInEnglish.of(language) + ".";
      home.style="background-color: black;";
    } else {
      greetingElement.lang="";
      greetingDescription.textContent="";
      home.style="background-color: transparent;";
    }
    updateBackground(greeting, language);
  }

  function updateBackground(greeting, locale) {
    let url="https://source.unsplash.com/random?";
    let keywords="space";
    if(locale) {
      languageNamesInLocale = new Intl.DisplayNames([locale], { type: 'language' });
      keywords=languageNamesInLocale.of(locale);
      keywords=keywords.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
    }
    url=url.concat(keywords);
    document.querySelector("html").style="background: url("+url+")";
    loadImage(url);
  }

  async function loadImage(url) {
    console.log("url", url);
    const response = await fetch(url);
  }

  function greet(e) {
    let node = getRandomNode();
    let greetingElement=document.querySelector(".home #greeting");
    let greetingDescription=document.querySelector("#language");
    let greeting=node.textContent;
    let language=node.lang;
    try {
      updateGreeting(greeting, language)
    } catch(err) {
      console.log(err);
    }

    style.animation = "";
    style.webkitAnimation = "";
    void w.offsetParent;
    style.animation = "flash 1.3s ease";
    style.webkitAnimation = "flash 1.3s ease";
  }
</script>
