@keyframes flash {
    0%, 100% {
        background-color: inherit;
    }
    20% {
        background-color: orange;
    }
}

.page-content {
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 5.9vw;
}

aside {
    display: flex;
    justify-content: center;
    color: darkorange;
    visibility: hidden;
}
