@keyframes flash {
    0%, 100% {
        background-color: inherit;
    }
    20% {
        background-color: blanchedalmond;
    }
}

.page-content {
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.home {
    background-color: black;
    color: #fff;
    padding: 0.5rem;

    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 5.9vw;
}

aside {
    display: flex;
    justify-content: center;
}

html { 
    background: url(https://source.unsplash.com/random?architecture) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
}

p {
    visibility: hidden;
}
