---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="home">
        <h1 id="greeting">{{ page.title }}</h1>
        <aside id="language">{{ content }}</aside>
        <ul>
          {% for emoji in site.data.greetings.emojis %}
          <li><p>{{ emoji }}</p></li>
          {% endfor %}

          {% for greeting in site.data.greetings.greetings %}
          <li><p lang="{{ greeting.lang }}">{{ greeting.text }}</p></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
    <footer>
      <span id="credit">
        <p id="profile">Photo by <a target="_blank">https://unsplash.com/</a></p>
      </span>
    </footer>

    </main>
    
  </body>

</html>
