<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="home">
        <h1>{{ page.title }}</h1>
        <aside id="language">{{ content }}</aside>
        {% for emoji in site.data.greetings.emojis %}
        <p>{{ emoji }}</p>
        {% endfor %}

        {% for greeting in site.data.greetings.greetings %}
        <p lang="{{ greeting.lang }}">{{ greeting.text | capitalize }}</p>
        {% endfor %}
      </div>
    </div>
    </main>

  </body>

</html>
